[user]
    name = Wojciech Rydel
    email = rydel.wojciech@gmail.com
    signingkey = 45D9F6F98EC117B7FA01D3BD9B8BEF4DE4421E47
[core]
    excludesfile = $HOME/.gitignore_global
    editor = vim
[alias]
    st = status
    ci = commit -S
    fixup = commit -S --amend --no-edit
    slog = log --show-signature
    stag = tag -s
    smerge = merge -S
    srebase = rebase -S
    stats=shortlog -sn
    purge=! git branch -D $1 && git push -d origin $1
    deltag = !~/dotfiles/scripts/delete_git_tag
    newbranch = !~/dotfiles/scripts/new_git_branch
[commit]
    gpgsign=true

[diff]
    tool = icdiff
    indentHeuristic = on
[difftool]
      prompt = false
[difftool "icdiff"]
      cmd = /usr/bin/icdiff --line-numbers $LOCAL $REMOTE | less
[rerere]
    enabled = true
[push]
    followTag = true
[help]
    autoCorrect = -1
