[Unit]
Description=Udiskie Automount
Documentation=man:Udiskie(1)

[Service]
ExecStart=/usr/sbin/udiskie
Restart=always
RestartSec=60

[Install]
WantedBy=graphical-session.target
