[Unit]
Description=Redshift display colour temperature adjustment (GUI)
Documentation=http://jonls.dk/redshift/
After=display-manager.service

[Service]
TimeoutStartSec=2
RestartSec=2
ExecStart=/usr/bin/redshift-gtk
Restart=on-failure

[Install]
WantedBy=graphical-session.target

