[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
Environment="XDG_DATA_HOME=/home/voytech/.local/share"
Environment="XDG_CACHE_HOME=/home/voytech/.cache"
ExecStart=/usr/sbin/swayidle -w \
            timeout 300 'swaylock -f -c 000000' \
            timeout 600 'swaymsg "output * dpms off"' \
            resume 'swaymsg "output * dpms on"' \
            before-sleep '/home/voytech/.local/bin/screenlock'


[Install]
WantedBy=sway-session.target
