[Desktop Entry]
Version=1.0
Type=Application
Name=zathura
Comment=Zathura PDF Viewer
Exec=zathura %U
Terminal=false
MimeType=application/pdf
Icon=zathura


