[Unit]
Description=KeepassXC
Documentation=man:keepassxc(1)

[Service]
ExecStart=/usr/sbin/keepassxc
Restart=on-failure

[Install]
WantedBy=graphical-session.target
