[Unit]
Description=KeepassXC
Documentation=man:keepassxc(1)

[Service]
Environment=QT_QPA_PLATFORM=wayland ECORE_EVAS_ENGINE=wayland_egl ELM_ENGINE=wayland_egl SDL_VIDEODRIVER=wayland _JAVA_AWT_WM_NONREPARENTING=1
ExecStart=/usr/sbin/keepassxc
Restart=on-failure

[Install]
WantedBy=graphical-session.target
