[Unit]
Description=NetworkManagerApplet
Documentation=man:nm-applet(1)

[Service]
ExecStart=/usr/sbin/nm-applet
Restart=on-failure

[Install]
WantedBy=graphical-session.target
